.Home {
  width: 100%;
  margin-left: 25%;
  padding: 3rem 2rem;
}

.Home-intro h1 {
  margin: 0.5rem 0 1rem;
  letter-spacing: 0.3px;
  animation: bounce-in-right 1.5s ease-in-out;
  display: inline-block;
  white-space: nowrap;
}
.Home-intro p {
  margin: 0.8rem 0;
  line-height: 2rem;
  font-size: 1.2rem;
  letter-spacing: 0.3px;
}

.Home-intro span {
  color: var(--my-color);
  font-size: 0.9rem;
  letter-spacing: 0.4px;
  border-bottom: 1px dashed white;
  padding: 3px 0;
  animation: bounce-in-right 3s ease-in-out;
  display: inline-block;
  white-space: nowrap;
}

@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.Home-story {
  margin: 2rem 0;
  padding: 1rem 0.7rem;

  border-radius: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.03rem;
}
.Home-story .story {
  text-align: justify;
  width: 83%;
  margin-right: 1.5rem;
}
.Home-story .story h4 {
  font-size: 1.1rem;
  letter-spacing: 0.3px;
  margin-bottom: 0.7rem;
}
.Home-story .story p {
  line-height: 1.6rem;
  letter-spacing: 0.3px;
}

.Home-story p span {
  color: var(--my-color);
  font-weight: bold;
}

.Home-story .skills h4 {
  color: var(--my-color);
  font-size: 1.06rem;
  letter-spacing: 0.3px;
  margin-bottom: 0.7rem;
}
.Home-story .skills p {
  border-left: 1px dashed var(--my-color);
  font-size: 0.96rem;
  line-height: 1.6rem;
  letter-spacing: 0.2px;
  padding-left: 2px;
}
.Home-story .skills span {
  color: var(--my-color);
}

.Home-final {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

.Home-support {
  width: 60%;
}
.Home-support h1 {
  font-size: 1.25rem;
  margin: 0.5rem 0 1rem;
  letter-spacing: 0.3px;
}
.Home-support p {
  text-align: justify;
  margin-top: 0.5rem;
  line-height: 1.8rem;
  font-size: 1.15rem;
  letter-spacing: 0.3px;
}

.Home-support span {
  color: var(--my-color);
  font-size: 1rem;
  border-bottom: 1px dashed white;
}

.Home-icon {
  margin: 0.9rem 0.25rem 0.35rem;
  transition: all 300ms ease-in-out;
}

.Home-icon:hover {
  transform: scale(1.5);
  color: white;
}

@media (max-width: 1400px) {
  .Home {
    width: 70%;
    margin-left: 30%;
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .Home-story {
    flex-direction: column;
    justify-content: space-between;
  }
  .Home-story .story {
    width: 100%;
    margin: 0 0 1rem;
  }
  .Home-story .skills p {
    margin-left: 1rem;
  }
  .Home-final {
    flex-direction: column;
  }
  .Home-support span {
    display: none;
  }
  .Home-support {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .Home {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 950px) {
  .Home {
    padding: 1rem 0.7rem;
  }
  .Home-story {
    flex-direction: column;
    justify-content: space-between;
  }
  .Home-story .story {
    width: 100%;
    margin: 0 0 1rem;
  }
  .Home-story .skills p {
    margin-left: 1rem;
  }
  .Home-final {
    flex-direction: column;
  }
  .Home-support span {
    display: none;
  }
  .Home-support {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .Home-intro span {
    display: inline;
    white-space: normal;
    animation: none;
  }
}
